[submodule "glib"]
	path = glib
	url = https://github.com/gtk-rs/glib
[submodule "cairo"]
	path = cairo
	url = https://github.com/gtk-rs/cairo
[submodule "pango"]
	path = pango
	url = https://github.com/gtk-rs/pango
[submodule "gdk"]
	path = gdk
	url = https://github.com/gtk-rs/gdk
[submodule "gtk"]
	path = gtk
	url = https://github.com/gtk-rs/gtk
[submodule "examples"]
	path = examples
	url = https://github.com/gtk-rs/examples
[submodule "lgpl-docs"]
	path = lgpl-docs
	url = https://github.com/gtk-rs/lgpl-docs
[submodule "gdk-pixbuf"]
	path = gdk-pixbuf
	url = https://github.com/gtk-rs/gdk-pixbuf
